name: Build STOMP Server & Client

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build Java Server
      working-directory: server
      run: mvn -q clean package

    - name: Install C++ dependencies
      run: sudo apt-get update && sudo apt-get install -y libboost-all-dev

    - name: Build C++ Client
      working-directory: client
      run: mkdir -p bin && make
      
    - name: Build C++ Client
      working-directory: client
      run: make
